@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    border: none;
    font-family: "Poppins",sans-serif;
    color: white;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
body{
    background-color: black;
}
:root{
    --primary-color:#00FF26;
    --secondar-color:rgba(255, 255, 255, 0.15)
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
section{
    background: url('../img/background.jpg') center  no-repeat;
    background-size: cover;
}
#hero .section-box::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(transparent 60%,rgb(4,61,42));
    z-index: 1;
}
.section-box{
    background-color: var(--secondar-color);
    width: 85%;
    height: 85vh;
    backdrop-filter: blur(8px);
    border: 2px solid var(--secondar-color);
    box-shadow: inset 0 0 5px var(--secondar-color);
    border-radius: 30px;
    overflow: hidden;
}
.content-wrap{
    padding: 10px 50px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.header-logo span{
    color: var(--primary-color);
}
nav{
    display: flex;
    gap: 40px;
    align-items: center;
}
.nav-items{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    display: flex;
    justify-content: center;
}
nav .active{
    color: var(--primary-color);
}
.nav-items::after{
    content: '';
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background-color: white;
    box-shadow: 0 0 5px white;
    transform: scale(0);
    transform-origin: left;
    transition: 0.3s;
}
.nav-items:hover::after{
    transform: scale(1);
}
.active:hover::after{
    background-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
}
.hero-content h3{
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 50px;

}
.hero-content h1{
    font-size: 6rem;
    font-weight: 800;
    letter-spacing: 30px;
    text-transform: uppercase;
    margin-top: -10px;
}
.hero-content{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-img{
    width: 47%;
    margin-top: -150px;
    animation: planetAn 120s linear infinite;
}
.hero-btn{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    height: 45px;
    width: 200px;
    border-radius: 50px;
    margin-top: -150px; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
    transition: 0.3s;
}
.hero-btn:hover{
    background-color: white;
    color: black;
}

/* about section */
.content-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 50px;
    height: inherit;
}
.about-img{
    width: 90%;
    animation: zoomIn 1.4s ease-in-out forwards;
    animation-delay: 0.2s;
    opacity: 0;
} 
.left-grid,.right-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
#about .right-grid{
    align-items: center;
}
.section-sub{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--primary-color);
    text-transform: capitalize;
    animation: bottomIn 1s ease-in-out forwards;
    animation-delay: 0.2s;
    opacity: 0;
}
.section-title{
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    animation: bottomIn 1.1s ease-in-out forwards;
    animation-delay: 0.2s;
    opacity: 0;
}
#about .left-grid p,#project .left-grid p{
    font-size: 18px;
    line-height: 1.8;
    color: rgb(218, 218, 218);
    animation: bottomIn 1.3s ease-in-out forwards;
    animation-delay: 0.2s;
    opacity: 0;
}
.action-btn{
    font-size: 18px;
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    height: 45px;
    width: 200px;
    background-color: var(--primary-color);
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    animation: bottomIn 1.4s ease-in-out forwards;
    animation-delay: 0.2s;
    opacity: 0;
}
.action-btn:hover{
    background-color: #00d11f;
}
#join-us .content-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.join-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}
.inputField{
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: rgb(182,182,182);
    background-color: transparent;
    border: 1px solid white;
    height: 45px;
    width: 500px;
    border-radius: 50px;
    padding: 0 30px;
}
.inputField::placeholder{
    color: white;
}
#join-us p{
    font-size: 18px;
    letter-spacing: 1px;
    animation: bottomIn 1s ease-in-out forwards;
    opacity: 0;
    animation-delay: 0.6s;
}
.checkbox-wrap{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 18px;
    animation: bottomIn 1s ease-in-out forwards;
    opacity: 0;
    animation-delay: 0.65s;
}
.join-btn{
    background-color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    height: 45px;
    width: 300px;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    animation: bottomIn 1s ease-in-out forwards;
    opacity: 0;
    animation-delay: 0.7s;
}
.join-btn:hover{
    background-color: #00d11f;
}
.input-1,.input-2,.input-3,.input-4{
    animation: bottomIn 1s ease-in-out forwards;
    opacity: 0;
}
.input-1{
    animation-delay: 0.4s;
}
.input-2{
    animation-delay: 0.45s;
}
.input-3{
    animation-delay: 0.50s;
}
.input-4{
    animation-delay: 0.55s;
}

/* footer */

.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    column-gap: 50px;
}
.footer-grid div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-grid div ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.footer-item a{
    letter-spacing: 1px;
    font-size: 18px;
    text-transform: capitalize;
    color: rgb(204, 204, 204);
    transition: 0.3s;
    cursor: pointer;
}
#footer h3{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    animation: bottomIn 1s ease-in-out forwards;
    opacity: 0;
    animation-delay: 0.2s;

}
.footer-item a:hover{
    color: white;
    text-shadow: 0 0 10px white;
}
#footer .section-box{
    height: auto;
}
#footer{
    align-items: start;
    height: auto;
    padding: 65px 0;
}
.item-1,.item-2,.item-3,.item-4,.item-5,.item-6{
    animation: bottomIn 1s ease-in-out forwards;
    opacity: 0;
}

.item-1{
    animation-delay: 0.25s;
}
.item-2{
    animation-delay: 0.3s;
}
.item-3{
    animation-delay: 0.35s;
}
.item-4{
    animation-delay: 0.4s;
}
.item-5{
    animation-delay: 0.45s;
}
.item-6{
    animation-delay: 0.5s;
}